<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>App chat real time</h1>
        <ul id="messages"></ul>
        <form action="" id="chat-form">
            <input type="text" id="input-mess" />
            <input id="send-chat" onclick="SendMessage()" value="Gửi" type="button" />
        </form>
        <div id="user-data" style="display: none">
            <!-- USER_DATA -->
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>

    <script>
        const userJSON = document.getElementById('user-data').textContent;
        const user = JSON.parse(userJSON);
        console.log(user);
        const socket = io('http://localhost:3000');
        const name = 'Name';
        const roomId = prompt('Nhập room id');
        const chatForm = document.querySelector('#chat-form');
        const inputMess = document.querySelector('#input-mess');
        const messages = document.querySelector('#messages');
        const SendMessage = () => {
            console.log('roomId', typeof roomId);
            socket.emit('message', JSON.stringify({ roomId, message, userId: user._id, fullName: user.fullName }));
            inputMess.value = '';
        };

        (() => {
            axios.post('http://localhost:3000/room', { roomId }).then((response) => {
                console.log(response.data);
                response.data.map((item) => {
                    const li = document.createElement('li');
                    li.textContent = `${item.userId.fullName}: ${item.message}`;
                    messages.appendChild(li);
                });
            });
        })();

        socket.on(`send-data_${roomId}`, (response) => {
            const data = JSON.parse(response.toString());
            const li = document.createElement('li');
            li.textContent = `${data.fullName}: ${data.message}`;
            messages.appendChild(li);
        });
    </script>
</html>
